body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.hero {
  margin-top: 80px;
}

select, button {
  padding: 12px;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #eee;
  padding: 30px;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
}

#mapa {
  height: 350px;
  margin: 20px auto;
}

.grid-destinos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 20px;
}

.card-destino {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.card-destino img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-destino .conteudo {
  padding: 16px;
}
